@import './variables.scss';

.body-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.auth-container {
  position: relative;
  width: 70vw;
  height: 80vh;
  background: #fff;
  border-radius: 15px;
  box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  overflow: hidden;

  &__form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 45%;
      min-width: 238px;
      padding: 0 10px;
      gap: 15px;

      .form-button{
        background: $blue-color-2;
        padding: 8px;
        border: none;
        border-radius: 3px;
        width: 100%;
        cursor: pointer;
      }
    }

    &__input {
      border: none;
      border-bottom: 1px solid #cacaca;
      width: 100%;
      height: 35px;
      padding: 0 5px;

      &:focus{
        outline: 0;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(
      to bottom,
      #006de9c6,
      #006de9c6
    ), url('../images/bank.jpeg');
    background-size: cover;
    background-position: center;
    transform: translateX(100%);
    z-index: 5;
    transition: .6s ease-in-out;
  }

  &__panel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    &__panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 238px;
      padding: 0 10px;
      text-align: center;
      z-index: 6;
    }

    &--left {
      transform: translateX(-200%);
      transition: .4s ease-in-out;
      transition-delay: .2s;
    }

    &--right {
      transform: translateX(0);
      transition: .4s ease-in-out;
      transition-delay: .2s;
      pointer-events: all;
    }
  }
}

.change-auth-button{
  padding: 7px;
  background: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

// Animations

form.register-form {
  opacity: 1;
  transition: .5s ease-in-out;
  transition-delay: .3s;
}

form.login-form {
  opacity: 0;
  transition: .5s ease-in-out;
  transition-delay: .3s;
}

.auth-container.login {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(
      to bottom,
      #006de9c6,
      #006de9c6
    ), url('../images/bank.jpeg');
    background-size: cover;
    background-position: center;
    transform: translateX(100%);
    transform: translateX(0);
    z-index: 5;
  }

  form {
    opacity: 0;
  }
}

.auth-container.login .auth-container__panel-container--left {
  transform: translateX(0) !important;
  pointer-events: all;
}

.auth-container.login .auth-container__panel-container--right {
  transform: translateX(200%) !important;
}

.auth-container.auth-container.login form.register-form {
  opacity: 0;
}

.auth-container.auth-container.login form.login-form {
  opacity: 1;
}