$black-color: #000;
$white-color: #fff;
$blue-color: #006DE9;
$gray-color-1: #cacaca;
$gray-color-2: #e2e2e2;
$gray-color-3: #6d6d6d;
$purple-color: #7B68EE;
$purple-color-1: #512E5F;

$font-family-cursive: 'Bebas Neue', cursive;
$font-family-normal: 'Inter', sans-serif;